@font-face {
  font-family: "Yahei";
  src: url(./fonts/Microsoft-YaHei-Regular.ttc) format("truetype");
}

@font-face {
  font-family: "Gothik";
  src: url(./fonts/MS/Gothic.ttc) format("truetype");
}
* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

body {
  color: #404040;
}

.topbar-mobile {
  display: none;
}

#btn-back-to-top {
  position: fixed;
  bottom: 70px;
  right: 20px;
  display: none;
  padding: 10px 20px !important;
  background-color: #b5a064;
  z-index: 9999999999999;
}
/* DESKTOP TOPBAR SECTION */
.top-bar {
  height: 60px;
  margin-bottom: -2px !important;
  background-color: #fff;
}
.topbar-icon {
  background-color: #b5a064;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.main-menu li {
  list-style: none;
  margin: 0 20px !important;
  display: inline-block;
}

.main-menu li a {
  text-decoration: none;
  color: #404040;
  font-size: 15px;
  transition: 0.3s;
}

.main-menu li a:hover {
  color: #b5a064;
}

.top-bar-email {
  color: #fff;
  font-size: 14px;
}
.topbar-icon .fas {
  color: #f7f7f7;
}
.topbar-icon p {
  color: #f7f7f7;
}
.topbar-icon {
  text-decoration: none;
}

.top-bar-email-bg {
  background-color: #333333;
}

.nav-email {
  width: 150px;
}

.nav-lang-btn {
  width: 75px;
}

.c-title h1 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #b5a064;
}
.c-title h4 {
  font-size: 10.5px;
  margin: 0;
  padding: 0;
  color: #c1c1c1;
}
.mobile-hero {
  display: none;
}
.hch {
  height: 550px;
  background-image: url(./img/main-banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.hch h1 {
  font-size: 35px;
  font-weight: 400;
  position: relative;
}

.hch img {
  margin-bottom: 30px !important;
}

.hch h2 {
  font-size: 28px;
}

.hch h3 {
  font-size: 17px;
}

.hero-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* DESKTOP ABOUT SECTION */
.about-wrapper {
  height: 370px;
}
.wrapper-bg {
  background-color: #333333;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 93%, 0 75%);
}

.about-wrapper h1 {
  color: #b5a064;
  font-size: 30px;
  margin-top: -40px !important;
}

.about-wrapper h3 {
  font-size: 22px;
  color: #fff;
  font-weight: 400;
}

.about-wrapper p {
  max-width: 600px;
  font-size: 12px;
  color: #fff;
}

/* DESKTOP STRENGTH SECTION */

.strength-section-title {
  margin-top: 230px !important;
}

.strength-section-title h1 {
  color: #b5a064;
  margin-bottom: 20px !important;
}
.strength-section-title h3 {
  margin-bottom: 20px !important;
  font-weight: 400;
}
.strength {
  background-color: #f7f7f7;
  margin-top: -240px !important;
  width: 100%;
}
.strength-container {
  position: relative;
}
.strength-container::after {
  content: "";
  position: absolute;
  background-color: #962222;
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  height: 300px;
  right: 0%;
  top: 0;
  z-index: 5555;
}

.mobile-strength {
  display: none;
}
.single-strength-card {
  width: 150px;
  height: 150px;
  background-color: #b5a064;
  border-radius: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.single-strength-card h2 {
  color: #fff;
  display: inline;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin-top: 50px;
  position: relative;
}
.single-strength-card h2:after {
  content: "";
  width: 100px;
  border-bottom: solid 3px #fff;
  border-radius: 10px;
  position: absolute;
  right: -70%;
  top: 100%;
  z-index: 1;
}

.single-strength-card p {
  color: #fff;
}

.max-width {
  max-width: 960px;
}

.st-card {
  width: 80%;
}
.st-info {
  z-index: 50000;
}
/* number area */
.strength-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number1 {
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px !important;
  margin-top: -20% !important;
  font-weight: 700;
  color: #b5a064;
}
.number {
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -20% !important;
  font-weight: 700;
  color: #b5a064;
}

.info {
  margin-left: 30px !important;
}

.info-heading {
  font-size: 21px;
  color: #404040;
  font-weight: 500;
  position: relative;
}
.info-heading h4::after {
  content: "";
  width: 150px;
  border-bottom: solid 4px #b5a064;
  position: absolute;
  border-radius: 10px;
  margin: 6px 0 !important;
  right: 62%;
  top: 110%;
  z-index: 1;
}

.info-detail {
  font-size: 12px;
  width: 400px !important;
  padding-top: 9px !important;
  line-height: 2;
  color: #404040;
}
/* DESKTOP CAPABLITY SECTION */
.capability {
  background-color: #fff;
  z-index: 99999;
  height: 2870px;
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 78%, 0% 75%, 0 0);
  margin-top: 10px !important;
}
.capability-info {
  width: 100%;
}

.cap-1 h2 {
  color: #b5a064;
  font-size: 15px;
  margin: 30px 0 !important;
}

.cap-1 h1 {
  font-size: 40px;
}

.cap-1 span {
  font-weight: 900;
  color: #b5a064;
  font-size: 85px;
  font-family: arial;
  margin: 0 -13px !important;
}

.capability-title h1 {
  font-size: 30px;
  color: #b5a064;
}

.capability-title h3 {
  color: #404040;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 35px !important;
}
.capability-info h3 {
  background-color: #b5a064;
  color: #fff;
  font-size: 20px;
}

.capability-info2 h3 {
  background-color: #b5a064;
  color: #fff;
  font-size: 20px;
  width: 100%;
}

.capability-info p {
  font-size: 12px;
  color: #404040;
}
.capability-info2 p {
  font-size: 12px;
  color: #404040;
}

.capability-section-bg {
  background-color: #fff;
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  height: 200px;
  margin-top: -160px !important;
  z-index: 1;
}
.line-img2 {
  margin-left: 23% !important;
  width: 53%;
}
.desktop-operating-content .row {
  z-index: 1000;
}
.desktop-operating-content img {
  z-index: 1000;
}
.downarrow-bg {
  display: none;
}
.quality-section-bg {
  background-color: #f7f7f7;
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  height: 200px;
  margin-top: -130px !important;
  z-index: 1;
}

/* table chart start */
.list-1 {
  width: 200px;
  height: 432px;
  background-color: #f7f7f7;
  border-radius: 10px;
}
.list-1 ul li {
  list-style: none;
  text-align: center;
  color: #404040;
}
.list-1-items li {
  color: #404040;
}

.list-title {
  color: #80681f;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px !important;
  margin-top: 8px !important;
  position: relative;
}
.list-title:after {
  content: "";
  width: 100px;
  border-bottom: solid 3px #b5a064;
  position: absolute;
  right: 25%;
  top: 130%;
  z-index: 1;
  border-radius: 10px;
}
.list-2 {
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-top: 50px !important;
}

::marker {
  color: #80681f;
  font-size: 12.5px !important;
}

.list-2 h2 {
  font-size: 25px;
  color: #80681f;
}
.list-2 li {
  color: #404040;
  margin-top: 9px !important;
}

.list-item h2 {
  position: relative;
}

.list-item h2::after {
  content: "";
  width: 120px;
  border-bottom: solid 3px #b5a064;
  position: absolute;
  right: -33%;
  top: 130%;
  z-index: 1;
  border-radius: 10px;
}
.list-item-2 h2 {
  position: relative;
}

.list-item-2 h2::after {
  content: "";
  width: 120px;
  border-bottom: solid 3px #b5a064;
  position: absolute;
  right: -11%;
  top: 130%;
  z-index: 1;
  border-radius: 10px;
}
/* DESKTOP QUALITY SECTION */
.quality {
  background-color: #f7f7f7;
  margin-top: -718px !important;
}
.quality-title h2 {
  font-size: 30px;
  color: #b5a064;
  margin-top: 130px !important;
}

.quality-title h1 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px !important;
  margin-bottom: -15px !important;
}

/* quality card */
.card1,
.card2,
.card3 {
  margin-right: 30px !important;
  padding: 50px 0 !important;
}
.arrow1,
.arrow2 {
  margin-right: 30px !important;
}

.mobile-quality-card {
  display: none;
}

.single-quality-card {
  width: 180px;
  height: 195px;
  background-color: #fff;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.single-quality-card img {
  margin-left: 10px !important;
}
.single-quality-card h2 {
  color: #80681f;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  position: relative;
}
.single-quality-card h2:after {
  content: "";
  width: 90px;
  border-bottom: solid 2px #b5a064;
  position: absolute;
  right: 7%;
  top: 140%;
  z-index: 1;
}

.single-quality-card p {
  font-size: 10px;
  padding: 5px 15px !important;
  color: #404040;
}

/* operating */

.mobile-operating-content {
  display: none;
}

.operating {
  background-color: #fff;
  border-radius: 10px;
  height: 280px;
  font-size: 14px;
}
.operating-content h2 {
  font-size: 20px;
  color: #b5a064;
  position: relative;
  margin-top: 12px !important;
}

.operating-content h2:after {
  content: "";
  width: 100px;
  border-bottom: solid 3px #b5a064;
  position: absolute;
  right: 40%;
  top: 135%;
  height: 3px;
  z-index: 1;
}

.operating-list {
  width: 500px;
  margin-top: 20px !important;
}
.operating-list ul li {
  color: #404040;
}
.operating-info h3 {
  background-color: #b5a064;
  color: #fff;
  font-size: 20px;
}

.eq-top-heading h2 {
  margin: 0 10px !important;
}

.operating-info p {
  font-size: 12px;
  margin-bottom: 30px !important;
  color: #404040;
}

/* DESKTOP EQUIPEMENT SECTION */
.equipement {
  height: 695px;
  text-align: center;
  background-color: #fff;
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 84%, 0% 75%, 0 0);
}

.eq-title h2 {
  color: #b5a064;
}

.eq-title h3 {
  font-size: 20px;
  font-weight: 400;
  color: #404040;
}

.eq-top-heading h2 {
  background-color: #b5a064;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  padding: 4px 16px !important;
  margin-bottom: 30px !important;
}

.equipement-content {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding-bottom: 20px !important;
}

.eq-heading h2 {
  font-size: 17px;
  position: relative;
  color: #b5a064;
}

.eq-heading h2:after {
  content: "";
  width: 100px;
  border-bottom: solid 3px #b5a064;
  position: absolute;
  right: 44.5%;
  top: 145%;
  height: 3px;
  border-radius: 10px;
  z-index: 1;
}
.eq-btn {
  background-color: #b5a064;
  padding: 7px 30px !important;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

.eq-list li {
  text-align: left !important;
  color: #404040;
}

/* DESKTOP COMPANY INFO SECTION */
.ci-title h2 {
  font-size: 30px;
  color: #b5a064;
  padding-bottom: 15px !important;
  margin-top: 30px !important;
}
.ci-title h3 {
  font-size: 20px;
  color: #404040;
  font-weight: 400;
}

.info-1 h3,
.info-2 h3,
.info-3 h3,
.info-4 h3,
.info-5 h3,
.info-6 h3 {
  font-size: 15px;
  padding-bottom: 30px !important;
  color: #80681f;
  margin-left: 10px !important;
  line-height: 1.7;
}

.info-1 h4,
.info-2 h4,
.info-3 h4,
.info-4 h4,
.info-5 h4,
.info-6 h4 {
  font-size: 12px;
  color: #404040;
  line-height: 1.7;
}

.ci-width {
  max-width: 500px;
}
section.ci {
  background-color: #f7f7f7;
  margin-top: -190px !important;
}

/* DESKTOP FOOTER SECTION */
.footer-1 {
  height: 110px;
  background-color: #b5a064;
  color: #fff;
}

.footer-1 h4 {
  font-size: 16px;
}
.footer-2 {
  height: 175px;
  background-color: #404040;
}
.logo img {
  width: 35px;
  margin-right: -5px !important;
}
.company-title {
  text-align: left;
}
.footer button {
  color: #fff;
}
.company-title h2 {
  font-size: 18px;
  color: #b5a064;
}
.company-title p {
  font-size: 10.5px;
  color: #c1c1c1;
}
.company-contact p {
  font-size: 14px;
  color: #c1c1c1;
}
.responsive-img {
  display: none;
}
.footer-copyright {
  font-size: 12px;
  letter-spacing: 1.5px;
  height: 25px;
  background-color: #000;
  color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999999999999;
}

/* for mobile device setting */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* Mobile Top Bar */
  .section-top-bar {
    display: none;
  }

  #btn-back-to-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: none;
    padding: 5px 15px !important;
    background-color: #b5a064;
    z-index: 99999999 !important;
  }
  .topbar-mobile {
    background-color: #333333;
    display: block;
  }
  .topbar-mobile h4 {
    font-size: 12px;
    margin-top: 10px !important;
    margin-right: 5px !important;
    color: #fff;
  }
  .topbar-mobile p {
    font-size: 10px;
    margin-bottom: 5px !important;
    margin-right: 5px !important;
    color: #fff;
  }
  .topbar-mobile a {
    text-decoration: none;
  }
  .about-wrapper p {
    font-size: 10px;
    line-height: 1.7 !important;
  }
  .btn-mobile {
    background-color: #b5a064;
  }
  .btn-mobile .fas {
    color: #fff;
    font-size: 10px;
  }
  .btn-mobile p {
    margin-top: 5px !important;
  }
  .mobile-menu-bg {
    background-color: #fff;
  }
  .main-menu-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }

  .main-menu-mobile li {
    list-style: none;
    margin: 0 20px !important;
    display: inline-block;
  }

  .main-menu-mobile li a {
    text-decoration: none;
    color: #404040;
    font-size: 12px;
    transition: 0.3s;
  }

  .main-menu-mobile li a:hover {
    color: #b5a064;
  }

  /* Mobile-Hero-Area */
  .mobile-hero {
    background-image: url(./img/mobile-banner.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
  }

  .mobile-hero h2,
  .mobile-hero h1,
  .mobile-hero h3 {
    color: #fff;
    font-size: 20px;
    margin-top: 15px !important;
  }
  .mobile-hero {
    padding-top: 100px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  section.hero {
    display: none;
  }

  img.line-img2 {
    width: 80%;
    height: 5px;
    position: absolute;
    right: 43px;
    margin-top: 23px !important;
  }
  img.line-img {
    width: 85%;
  }
  .about-wrapper p {
    font-size: 10px;
    padding: 0 25px !important;
  }
  .capability-info p {
    padding: 0px 15px !important;
  }
  .cap-1 h2 {
    margin-top: 30px !important;
    font-size: 20px;
    color: #80681f;
  }

  .cap-1 h1 {
    font-size: 30px;
    margin-bottom: -20px !important;
  }

  .cap-1 span {
    font-size: 50px;
    margin: 0 -8px !important;
  }
  .quality {
    background-color: #f7f7f7;
    margin-top: -1036px !important;
    height: 2010px;
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 76%, 0% 75%, 0 0);
  }
  .single-quality-card {
    margin-top: 21px !important;
    margin-bottom: -21px !important;
  }
  .mobile-quality-card {
    display: block;
  }
  .desktop-quality-card {
    display: none;
  }
  .operating-info {
    margin-top: 25px !important;
  }
  .desktop-operating-content {
    display: none;
  }
  .eq-heading h2:after {
    content: "";
    width: 100px;
    border-bottom: solid 3px #b5a064;
    position: absolute;
    left: 35.5%;
    top: 145%;
    height: 3px;
    border-radius: 10px;
    z-index: 1;
  }
  .equipement-content {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding-bottom: 20px !important;
    margin: 0 20px !important;
  }
  .operating-bg {
    background-color: #f7f7f7;
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    height: 100px;
    margin-top: -57px !important;
    z-index: 4;
  }
  .company-title {
    display: none;
  }
  .wrapper-bg {
    background-color: #333333;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 90%, 0 75%);
  }
  .row.company-logo {
    display: none;
  }

  .mobile-operating-list {
    height: 500px;
  }

  .operating-info p {
    padding: 0 15px !important;
    line-height: 1.8;
    margin-bottom: 20px !important;
  }
  .quality-mobile-img img {
    z-index: 44;
  }
  .capability-info h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-left: 7px !important;
    margin-right: 10px !important;
    margin-bottom: 20px !important;
  }
  .operating-info h3 {
    background-color: #b5a064;
    color: #fff;
    font-size: 24px;
    width: 94%;
    font-weight: 400;
    margin-left: 8px !important;
  }
  .info-1 h3,
  .info-2 h3,
  .info-3 h3,
  .info-4 h3,
  .info-5 h3,
  .info-6 h3 {
    font-size: 20px;
    margin-bottom: -25px !important;
    margin-top: 25px !important;
    margin-left: -1px !important;
  }
  .eq-title h2 {
    color: #b5a065;
    font-size: 30px;
    margin-top: -35px !important;
  }
  .footer-copyright {
    height: 35px;
    text-align: center;
    font-size: 10px;
    padding: 0 35px !important;
  }
  .info-1 h4,
  .info-2 h4,
  .info-3 h4,
  .info-4 h4,
  .info-5 h4,
  .info-6 h4 {
    font-size: 16px;
  }
  .single-quality-card p {
    font-size: 12px;
    font-weight: 400;
    padding: 0 20px !important;
    line-height: 1.5;
  }
  .cap-1 h2 {
    margin-top: 30px !important;
    padding-left: 20px !important;
  }
  .capability-img .img-1 {
    padding-right: 25px !important;
    margin-bottom: 55px !important;
  }
  .capability-img .img-2 {
    padding-right: 14px !important;
  }

  section.equipement {
    margin-top: -473px !important;
    height: 1165px;
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 78%, 0% 75%, 0 0);
  }
  .quality-title h2 {
    margin-top: 100px !important;
  }

  .eq-top-heading {
    padding: 5px 10px !important;
  }

  .eq-heading h2 {
    font-size: 23px;
    font-weight: 500;
  }

  .eq-list li {
    list-style: none;
    text-align: center !important;
  }

  section.ci.pt-4 {
    margin-top: -340px !important;
  }

  .ci-info-container {
    padding: 0 20px !important;
  }

  .ci-map img {
    width: 100%;
  }
  .no-dflex {
    display: flex;
    flex-direction: column;
  }

  .company-title {
    margin-bottom: 10px !important;
    text-align: center;
  }

  .footer-2 {
    height: 200px;
  }

  .company-logo {
    display: none;
  }
  .responsive-img {
    display: block;
    margin: 20px 0 !important;
    z-index: 55;
  }
  .list-1 {
    margin-bottom: 20px !important;
    width: 175px;
    padding: 0 5px !important;
  }
  section.about {
    background-color: #f7f7f7;
  }
  .capability-info2 p {
    padding: 0px 20px !important;
  }

  .capability-info2 p {
    padding: 0px 20px !important;
  }

  .capability-info2 h3 {
    margin: 0 6px !important;
    width: 96%;
    font-size: 24px;
    font-weight: 400;
  }
  .cap-list1 {
    margin-left: -8px !important;
  }

  .cap-list3 ul li {
    margin-left: 35px !important;
  }
  .cap-list4 {
    padding-left: 32px !important;
    font-size: 14px;
  }
  .list-2 {
    background-color: #f7f7f7;
    border-radius: 10px;
    margin: 25px 15px !important;
  }

  .list-2 h2 {
    font-size: 20px;
  }

  .list-item h2::after {
    right: -43%;
  }
  /* STRENGHT AREA MOBILE */
  .strength {
    display: none;
  }
  .mobile-strength {
    display: inline-block;
    background-color: #f7f7f7;
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 76%, 0% 75%, 0 0);
    height: 3677px;
    margin-top: -100px !important;
    z-index: 1;
  }
  .strength-mobile-section-title {
    margin-top: 20px !important;
  }
  .strength-mobile-section-title h1 {
    color: #b5a064;
    margin-bottom: 20px !important;
  }
  .strength-mobile-section-title h3 {
    margin-bottom: 20px !important;
    font-weight: 400;
  }
  .info-heading-mobile {
    font-size: 24px;
    color: #404040;
    font-weight: 500;
    position: relative;
    padding: 0 20px !important;
  }
  .info-heading-mobile:after {
    content: "";
    width: 122px;
    border-bottom: solid 4px #b5a064;
    border-radius: 10px;
    position: absolute;
    right: 64%;
    top: 116%;
    z-index: 1;
  }
  .info-detail-mobile {
    font-size: 16px;
    padding: 0 20px !important;
    margin-bottom: -20px !important;
  }
  .quality-section-bg {
    display: none;
  }
  .downarrow-bg {
    display: block;
    background-color: #f7f7f7;
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    height: 200px;
    margin-top: -130px !important;
    z-index: 1;
  }
  .number1-mobile {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px !important;
    margin-top: -10% !important;
    font-weight: 900;
    color: #b5a064;
  }
  .single-card-container img {
    display: none;
  }
  .capability {
    background-color: #fff;
    z-index: 99999;
    height: 4140px;
    clip-path: polygon(50% 0%, 100% 0, 100% 76%, 50% 77%, 0% 76%, 0 0);
    margin-top: -870px !important;
  }
  .mobile-operating-content {
    display: block;
  }
  .mobile-opereting-title h3 {
    color: #80681f;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px !important;
    position: relative;
  }

  .mobile-opereting-title:after {
    content: "";
    width: 100px;
    border-bottom: 4px solid #80681f;
    position: absolute;
    border-radius: 10px;
    right: 37%;
    z-index: 1;
    margin-top: -12px;
  }
  .mobile-operating-list ul {
    text-align: left !important;
    margin-bottom: 25px !important;
    font-size: 14px;
    margin-left: 28px !important;
    font-weight: 500;
  }

  .eq-top-heading h2 {
    background-color: #b5a064;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    padding: 4px 16px !important;
    width: 100%;
    margin-left: -1px !important;
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }
}
