* {
  margin: 0 !important;
  padding: 0 !important;
}

.top-bar {
  height: 50px;
  margin-bottom: -2px !important;
}

.nav-email {
  width: 150px;
}

.nav-lang-btn {
  width: 75px;
}

.c-title h1 {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.c-title h4 {
  font-size: 8.1px;
  margin: 0;
  padding: 0;
}
.hch {
  height: 550px;
  background-image: url(./img/main-banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.hero-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-wrapper {
  height: 310px;
}
.wrapper-bg {
  background-color: #333333;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

.about-wrapper h1 {
  color: #b5a064;
  font-size: 30px;
  margin-top: -40px !important;
}

.about-wrapper h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}

.about-wrapper p {
  max-width: 600px;
  font-size: 12px;
  color: #fff;
}

.strength-section-title {
  margin-top: 70px !important;
}
.st-bg {
  background-color: #f7f7f7;
  margin-top: -80px !important;
}
.single-strength-card {
  width: 150px;
  height: 150px;
  background-color: #b5a064;
  border-radius: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.single-strength-card h2 {
  color: #fff;
  display: inline;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin-top: 50px;
  position: relative;
}
.single-strength-card h2:after {
  content: "";
  width: 100px;
  border-bottom: solid 3px #fff;
  position: absolute;
  right: -70%;
  top: 100%;
  z-index: 1;
}

.single-strength-card p {
  color: #fff;
}

.max-width {
  max-width: 960px;
}

.test {
  width: 70%;
}

/* number area */
.strength-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number1 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px !important;
  margin-top: -15% !important;
  font-weight: 700;
  color: #b5a064;
}
.number {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -15% !important;
  font-weight: 700;
  color: #b5a064;
}

.info {
  margin-left: 30px !important;
}

.info-heading {
  font-size: 21px;
  color: #000;
  font-weight: 500;
}

.info-detail {
  font-size: 12px;
  width: 400px !important;
}
