* {
  margin: 0 !important;
  padding: 0 !important;
}

body {
}

.top-bar {
  height: 50px;
  margin-bottom: -2px !important;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.main-menu li {
  list-style: none;
  margin: 0 20px !important;
  display: inline-block;
}

.main-menu li a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  transition: 0.3s;
}

.main-menu li a:hover {
  color: #b5a064;
}

.top-bar-email {
  color: #fff;
  font-size: 9px;
}

.top-bar-email-bg {
  background-color: #333333;
}

.nav-email {
  width: 150px;
}

.nav-lang-btn {
  width: 75px;
}

.c-title h1 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #b5a064;
}
.c-title h4 {
  font-size: 8.1px;
  margin: 0;
  padding: 0;
}
.hch {
  height: 550px;
  background-image: url(./img/main-banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.hero-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-wrapper {
  height: 310px;
}
.wrapper-bg {
  background-color: #333333;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

.about-wrapper h1 {
  color: #b5a064;
  font-size: 30px;
  margin-top: -40px !important;
}

.about-wrapper h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}

.about-wrapper p {
  max-width: 600px;
  font-size: 12px;
  color: #fff;
}

.strength-section-title {
  margin-top: 70px !important;
}
.strength {
  background-color: #f7f7f7;
  margin-top: -80px !important;
  width: 100vw;
}
.single-strength-card {
  width: 150px;
  height: 150px;
  background-color: #b5a064;
  border-radius: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.single-strength-card h2 {
  color: #fff;
  display: inline;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin-top: 50px;
  position: relative;
}
.single-strength-card h2:after {
  content: "";
  width: 100px;
  border-bottom: solid 3px #fff;
  position: absolute;
  right: -70%;
  top: 100%;
  z-index: 1;
}

.single-strength-card p {
  color: #fff;
}

.max-width {
  max-width: 960px;
}

.test {
  width: 70%;
}

/* number area */
.strength-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number1 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px !important;
  margin-top: -15% !important;
  font-weight: 700;
  color: #b5a064;
}
.number {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -15% !important;
  font-weight: 700;
  color: #b5a064;
}

.info {
  margin-left: 30px !important;
}

.info-heading {
  font-size: 21px;
  color: #000;
  font-weight: 500;
}

.info-detail {
  font-size: 12px;
  width: 400px !important;
}
/* capability */
.capability {
  background-color: #fff;
}

.capability-title h1 {
  font-size: 30px;
  color: #b5a064;
}
.capability-info h3 {
  background-color: #b5a064;
  color: #fff;
}

.capability-info p {
  font-size: 12px;
}

/* table chart start */
.list-1 {
  width: 140px;
  height: 375px;
  background-color: #f7f7f7;
  border-radius: 5%;
}
.list-1 ul li {
  list-style: none;
  text-align: center;
}

.list-title {
  color: #b5a064;
  text-align: center;
}
.list-2 {
  background-color: #f7f7f7;
  border-radius: 5%;
}
.list-3 {
  background-color: #f7f7f7;
  border-radius: 5%;
}
/* quality */
.quality {
  background-color: #f7f7f7;
}
/* quality card */
.single-quality-card {
  width: 170px;
  height: 185px;
  background-color: #fff;
  border-radius: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid;
}
.single-quality-card h2 {
  color: #b5a064;
  display: inline;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin-top: 50px;
  position: relative;
}
.single-quality-card h2:after {
  content: "";
  width: 100px;
  border-bottom: solid 3px #fff;
  position: absolute;
  right: -70%;
  top: 100%;
  z-index: 1;
}

.single-quality-card p {
  font-size: 10px;
  padding: 5px 15px !important;
}

/* operating */
.operating {
  background-color: #fff;
  border-radius: 10%;
  height: 280px;
  font-size: 14px;
}
.operating-content h2 {
  font-size: 20px;
  color: #b5a064;
  position: relative;
}

.operating-content h2:after {
  content: "";
  width: 100px;
  border-bottom: solid 3px #b5a064;
  position: absolute;
  right: 36%;
  top: 135%;
  height: 3px;
  z-index: 1;
}
.operating-info h3 {
  background-color: #b5a064;
  color: #fff;
}

.operating-info p {
  font-size: 12px;
}
