* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.topbar-mobile {
  display: none;
}

#btn-back-to-top {
  position: fixed;
  bottom: 70px;
  right: 20px;
  display: none;
  padding: 10px 20px !important;
  background-color: #b5a064;
}

.top-bar {
  height: 50px;
  margin-bottom: -2px !important;
  background-color: #fff;
}
.topbar-icon {
  background-color: #b5a064;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.main-menu li {
  list-style: none;
  margin: 0 20px !important;
  display: inline-block;
}

.main-menu li a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  transition: 0.3s;
}

.main-menu li a:hover {
  color: #b5a064;
}

.top-bar-email {
  color: #fff;
  font-size: 9px;
}
.topbar-icon .fas {
  color: #f7f7f7;
}
.topbar-icon p {
  color: #f7f7f7;
}
.topbar-icon {
  text-decoration: none;
}

.top-bar-email-bg {
  background-color: #333333;
}

.nav-email {
  width: 150px;
}

.nav-lang-btn {
  width: 75px;
}

.c-title h1 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #b5a064;
}
.c-title h4 {
  font-size: 8.1px;
  margin: 0;
  padding: 0;
}
.mobile-hero {
  display: none;
}
.hch {
  height: 550px;
  background-image: url(./img/main-banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.hch h1 {
  font-size: 62px;
  font-weight: 400;
  position: relative;
}

.hch img {
  margin-bottom: 30px !important;
}

.hch h2 {
  font-size: 44px;
}

.hch h3 {
  font-size: 31px;
}

.hero-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-wrapper {
  height: 370px;
}
.wrapper-bg {
  background-color: #333333;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

.about-wrapper h1 {
  color: #b5a064;
  font-size: 32px;
  margin-top: -40px !important;
}

.about-wrapper h3 {
  font-size: 22px;
  color: #fff;
  font-weight: 400;
}

.about-wrapper p {
  max-width: 600px;
  font-size: 12px;
  color: #fff;
}

/* strength section start */

.strength-section-title {
  margin-top: 230px !important;
}

.strength-section-title h1 {
  color: #b5a064;
  margin-bottom: 20px !important;
}
.strength-section-title h3 {
  margin-bottom: 20px !important;
  font-weight: 400;
}
.strength {
  background-color: #f7f7f7;
  margin-top: -150px !important;
  width: 100vw;
}
.mobile-strength {
  display: none;
}
.single-strength-card {
  width: 150px;
  height: 150px;
  background-color: #b5a064;
  border-radius: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.single-strength-card h2 {
  color: #fff;
  display: inline;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin-top: 50px;
  position: relative;
}
.single-strength-card h2:after {
  content: "";
  width: 100px;
  border-bottom: solid 3px #fff;
  position: absolute;
  right: -70%;
  top: 100%;
  z-index: 1;
}

.single-strength-card p {
  color: #fff;
}

.max-width {
  max-width: 960px;
}

.st-card {
  width: 80%;
}

/* number area */
.strength-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number1 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px !important;
  margin-top: -15% !important;
  font-weight: 700;
  color: #b5a064;
}
.number {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -15% !important;
  font-weight: 700;
  color: #b5a064;
}

.info {
  margin-left: 30px !important;
}

.info-heading {
  font-size: 21px;
  color: #000;
  font-weight: 500;
  position: relative;
}
.info-heading h4::after {
  content: "";
  width: 150px;
  border-bottom: solid 4px #b5a064;
  position: absolute;
  right: 62%;
  top: 110%;
  z-index: 1;
}

.info-detail {
  font-size: 12px;
  width: 400px !important;
}
/* capability */
.capability {
  background-color: #fff;
}

.cap-1 h2 {
  color: #b5a064;
  font-size: 15px;
  margin-top: 30px !important;
}

.cap-1 h1 {
  font-size: 40px;
}

.cap-1 span {
  font-weight: 900;
  color: #b5a064;
  font-size: 60px;
}

.capability-title h1 {
  font-size: 30px;
  color: #b5a064;
}
.capability-info h3 {
  background-color: #b5a064;
  color: #fff;
}

.capability-info p {
  font-size: 12px;
}

/* table chart start */
.list-1 {
  width: 140px;
  height: 400px;
  background-color: #f7f7f7;
  border-radius: 10px;
}
.list-1 ul li {
  list-style: none;
  text-align: center;
}

.list-title {
  color: #b5a064;
  text-align: center;
  font-size: 15px;
  margin-bottom: 8px !important;
  margin-top: 8px !important;
  font-weight: 600;
}
.list-2 {
  background-color: #f7f7f7;
  border-radius: 10px;
}

.list-2 h2 {
  font-size: 20px;
  color: #b5a064;
}

.list-item h2 {
  font-weight: 600;
  position: relative;
}

.list-item h2::after {
  content: "";
  width: 120px;
  border-bottom: solid 3px #b5a064;
  position: absolute;
  right: -50%;
  top: 130%;
  z-index: 1;
}
.list-item-2 h2 {
  font-weight: 600;
  position: relative;
}

.list-item-2 h2::after {
  content: "";
  width: 120px;
  border-bottom: solid 3px #b5a064;
  position: absolute;
  right: -24%;
  top: 130%;
  z-index: 1;
}
/* quality */
.quality {
  background-color: #f7f7f7;
}
.quality-title h2 {
  font-size: 30px;
  color: #b5a064;
  margin-top: 100px !important;
}

.quality-title h1 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px !important;
  margin-bottom: -15px !important;
}

/* quality card */
.single-quality-card {
  width: 170px;
  height: 185px;
  background-color: #fff;
  border-radius: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.single-quality-card img {
  margin-left: 10px !important;
}
.single-quality-card h2 {
  color: #b5a064;
  display: inline;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin-top: 50px;
  position: relative;
}
.single-quality-card h2:after {
  content: "";
  width: 95px;
  border-bottom: solid 3px #b5a064;
  position: absolute;
  right: 2%;
  top: 140%;
  z-index: 1;
}

.single-quality-card p {
  font-size: 10px;
  padding: 5px 15px !important;
}

/* operating */
.operating {
  background-color: #fff;
  border-radius: 10px;
  height: 280px;
  font-size: 14px;
}
.operating-content h2 {
  font-size: 20px;
  color: #b5a064;
  position: relative;
}

.operating-content h2:after {
  content: "";
  width: 100px;
  border-bottom: solid 3px #b5a064;
  position: absolute;
  right: 36%;
  top: 135%;
  height: 3px;
  z-index: 1;
}
.operating-info h3 {
  background-color: #b5a064;
  color: #fff;
}

.operating-info p {
  font-size: 12px;
}

/* equipment start */
.equipement {
  height: 500px;
  text-align: center;
  background-color: #fff;
}

.eq-title h2 {
  color: #b5a064;
}

.eq-title h3 {
  font-size: 20px;
  font-weight: 400;
}

.eq-top-heading {
  background-color: #b5a064;
}

.equipement-content {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding-bottom: 20px !important;
}

.eq-heading h2 {
  font-size: 17px;
  position: relative;
  color: #b5a064;
}

.eq-heading h2:after {
  content: "";
  width: 100px;
  border-bottom: solid 3px #b5a064;
  position: absolute;
  right: 44.5%;
  top: 145%;
  height: 3px;
  z-index: 1;
}
.eq-btn {
  background-color: #b5a064;
  padding: 10px 40px !important;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}

.eq-list li {
  text-align: left !important;
}

/* Company Info */
.ci-title h2 {
  font-size: 30px;
  color: #b5a064;
  padding-bottom: 15px !important;
}
.ci-title h3 {
  font-size: 20px;
  font-weight: 400;
}

.info-1 h3,
.info-2 h3,
.info-3 h3,
.info-4 h3,
.info-5 h3,
.info-6 h3 {
  font-size: 15px;
  padding-bottom: 30px !important;
}

.info-1 h4,
.info-2 h4,
.info-3 h4,
.info-4 h4,
.info-5 h4,
.info-6 h4 {
  font-size: 12px;
}

.ci-width {
  max-width: 500px;
}

/* footer start */
.footer-1 {
  height: 110px;
  background-color: #b5a064;
  color: #fff;
}

.footer-1 h4 {
  font-size: 16px;
}
.footer-2 {
  height: 175px;
  background-color: #404040;
}
.logo img {
  width: 25px;
}
.company-title {
  text-align: left;
}
.footer button {
  color: #fff;
}
.company-title h2 {
  font-size: 14px;
  color: #b5a064;
}
.company-title p {
  font-size: 7.5px;
  color: #fff;
}
.company-contact p {
  font-size: 10px;
  color: #fff;
}
.responsive-img {
  display: none;
}
.footer-copyright {
  font-size: 10px;
  height: 25px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* for mobile device setting */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* Mobile Top Bar */
  .section-top-bar {
    display: none;
  }

  #btn-back-to-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: none;
    padding: 5px 15px !important;
    background-color: #b5a064;
  }
  .topbar-mobile {
    background-color: #333333;
    display: block;
  }
  .topbar-mobile h4 {
    font-size: 12px;
    margin-top: 10px !important;
    margin-right: 5px !important;
    color: #fff;
  }
  .topbar-mobile p {
    font-size: 10px;
    margin-bottom: 5px !important;
    margin-right: 5px !important;
    color: #fff;
  }
  .btn-mobile {
    background-color: #b5a064;
  }
  .btn-mobile .fas {
    color: #fff;
    font-size: 10px;
  }

  .desktop-quality-card {
    display: none;
  }
  .btn-mobile p {
    margin-top: 5px !important;
  }
  .mobile-menu-bg {
    background-color: #fff;
  }
  .main-menu-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }

  .main-menu-mobile li {
    list-style: none;
    margin: 0 20px !important;
    display: inline-block;
  }

  .main-menu-mobile li a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    transition: 0.3s;
  }

  .main-menu-mobile li a:hover {
    color: #b5a064;
  }

  /* Mobile-Hero-Area */
  .mobile-hero {
    background-image: url(./img/mobile-banner.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
  }

  .mobile-hero h2,
  .mobile-hero h1,
  .mobile-hero h3 {
    color: #fff;
    font-size: 20px;
    margin-top: 15px !important;
  }
  .mobile-hero {
    padding-top: 100px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  section.hero {
    display: none;
  }
  img.line-img {
    width: 90%;
    height: 5px;
  }
  .about-wrapper p {
    font-size: 10px;
    padding: 0 25px !important;
  }
  .capability-info p {
    padding: 0px 15px !important;
  }
  .cap-1 h2 {
    margin-left: 15px !important;
  }

  .cap-1 h1 {
    font-size: 30px;
    margin-bottom: -20px !important;
  }

  .cap-1 span {
    font-size: 50px;
  }
  .single-quality-card {
    margin-top: 21px !important;
    margin-bottom: -21px !important;
  }

  .operating-info {
    margin-top: 25px !important;
  }

  .operating-info p {
    padding: 0 15px !important;
    line-height: 1.8;
    margin-bottom: 20px !important;
  }

  section.equipement {
    margin-top: -10px !important;
  }
  .quality-title h2 {
    margin-top: 20px !important;
  }

  .eq-top-heading {
    padding: 5px 10px !important;
  }

  .eq-heading h2 {
    font-size: 23px;
    font-weight: 500;
  }

  .eq-list li {
    list-style: none;
    text-align: center !important;
  }

  .eq-heading h2:after {
    right: 37.5%;
  }
  section.ci.pt-4 {
    margin-top: 250px !important;
  }

  .ci-info-container {
    padding: 0 20px !important;
  }

  .ci-map img {
    width: 100%;
  }
  .no-dflex {
    display: flex;
    flex-direction: column;
  }

  .company-title {
    margin-bottom: 10px !important;
    text-align: center;
  }

  .footer-2 {
    height: 200px;
  }

  .company-logo {
    display: none;
  }
  .responsive-img {
    display: block;
    margin: 20px 0 !important;
    z-index: 55;
  }
  .list-1 {
    margin-bottom: 20px !important;
  }

  /* STRENGHT AREA MOBILE */
  .strength {
    display: none;
  }
  .mobile-strength {
    display: inline-block;
  }
  .strength-mobile-section-title {
    margin-top: 20px !important;
  }
  .strength-mobile-section-title h1 {
    color: #b5a064;
    margin-bottom: 20px !important;
  }
  .strength-mobile-section-title h3 {
    margin-bottom: 20px !important;
    font-weight: 400;
  }
  .info-heading-mobile {
    font-size: 21px;
    color: #000;
    font-weight: 500;
    position: relative;
    padding: 0 20px !important;
  }
  .info-detail-mobile {
    font-size: 12px;
    padding: 0 10px !important;
    margin-bottom: 10px !important;
  }
  .number1-mobile {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px !important;
    margin-top: -20% !important;
    font-weight: 700;
    color: #b5a064;
  }
  .single-card-container img {
    display: none;
  }
}
